// Specific CSS for your home-page
.banner {
  background-size:cover;
  background-position: center;
  padding: 280px 0;
}

.banner h1 {
  font-family: 'Russo One', sans-serif;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-family: 'Russo One', sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 20px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  font-family: 'Russo One', sans-serif;
  color: 920100;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  color:#920100;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: black;
  color: white;
}

.btn-dark{
  margin-left: 5px;
  color: white;
  background: black;
  border-radius: 5px;
  transition: background 0.3s ease;

}

.btn-dark:hover{
  background-color:rgb(43, 43, 43);
  color:white;
}

.form-control{
  padding: 5px;
  // margin-right: 20%;
  // margin-left: 20%;
}

.footer {
  background: rgba(245, 245, 245, 0.833);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #000000(174, 17, 17, 0.3);
  border-top: 2px solid rgb(132, 132, 132);
}
.footer-links {
  display: flex;
  align-items: center;
  color: #000000;
}
.footer-links a {
  color: #920100;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer img{
  width: 60px
}


.searchbar {

  width: 350px;
  display: flex;
 }

.super-hero-background {
  background-color: rgb(255, 255, 255);
}

.card-infos {

  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  color: #000000;


}

.card-padding-bottom {
  padding-bottom: 200px;
  margin-left: 40px;
  margin-right: 40px;
}

.card-home{
  background-color: rgb(0, 0, 0) ;
  padding: 5%;
  border-radius: 5%;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-title-home {
  font-family: 'Russo One', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  color:#ffffff
}

.card-text-home {
  font-family: 'Russo One', sans-serif;
  color: #ffffff;
}


.card-img-top {
  border-radius: 5%;
}

.home-title{
  font-family: 'Russo One', sans-serif;
}

.hero-btn {
  margin-left: 5px;
  color: white;
  background: black;
  border-radius: 5px;
  transition: background 0.3s ease;
  margin-top: 25px ;
  margin-bottom: -25px;
  font-family: 'Russo One', sans-serif;
}


.home-btn-dark:hover{
  background-color:rgb(43, 43, 43);
  color:white;
}
