<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://e0.pxfuel.com/wallpapers/535/311/desktop-wallpaper-heroes-of-the-banner-2-1280-x-854.jpg);">
  <div class="container">
    <h1><strong>Superheros</strong> to <strong>rent</strong> near you!</h1>
    <p>we have the best of the best !</p>
    <%= link_to "Book now", "#", class: "btn btn-flat" %>
  </div>
</div>
