<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.tenor.com/euv8FfGsPm8AAAAC/spiderman.gif);">
  <div class="container">
    <h1><strong>Superheroes</strong> to <strong>rent</strong> near you!</h1>
    <p>we have the best of the best !</p>
    <%= link_to "Book now", superheros_path, class: "btn btn-flat" %>
  </div>
</div>
