<div class="footer">
  <div class="footer-links">
   Follow us  <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
   Contact  |  About
  </div>
</div>
