<div class= "color-background">
  <%= render "shared/banner"%>
  <div class="super-hero-background">
    <div class="card-heroes">
      <div class="card-infos">
          <h2>Superheroes of the Week</h2>
      </div>
    </div>
    <div class="card-padding-bottom">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card-home border-dark">
            <img src="https://www.digitaltrends.com/wp-content/uploads/2019/01/justice-league-batman.jpg?fit=720%2C480&p=1" class="card-img-top" alt="batman">
            <div class="card-body">
              <h5 class="card-title-home">Batman</h5>
              <p class="card-text-home">"I'm Batman"</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card-home border-dark">
            <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2022/10/18/16660956634363.jpg" class="card-img-top" alt="superman">
            <div class="card-body">
              <h5 class="card-title-home">Superman</h5>
              <p class="card-text-home">"This looks like a job for Superman!"</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card-home border-dark">
            <img src="https://cdn.vox-cdn.com/thumbor/U_dME6SDOaWgJe_CVA7ytQ2Sl6Q=/0x0:1400x700/1200x800/filters:focal(588x238:812x462)/cdn.vox-cdn.com/uploads/chorus_image/image/58844015/bb_groot.0.jpg" class="card-img-top" alt="groot">
            <div class="card-body">
              <h5 class="card-title-home">Groot</h5>
              <p class="card-text-home">"I am Groot!"</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
