
.back-to-hero {
  background-color: white;
  border-style: solid;
  border-color: #C00500;
  color: #C00500;
  text-decoration: none;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  margin-top: 20px;
  margin-left:20px;
}

.back-to-hero:hover {
  background-color: #C00500;
  border-style: solid;
  border-color: #C00500;
  color: white;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  font-family: 'Russo One', sans-serif;
}
