.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #faf0e6;
}

.card img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  object-position: top;
  margin-bottom: 16px;
  border-radius: 8px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 16px;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

.card p {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: left;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.superheros {
  margin: 20px;
  margin-top: 0px;
}

.new_hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  align-items: center;
  color: white;
  background-color:#C00500;
  padding: 20px
}
// .show_hero_button {

.info-button {
  background-color: white;
  border-style: solid;
  border-color: grey;
  color: black;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  text-decoration: none;
}

.info-button:hover {
  background-color: grey;
  border-style: solid;
  color: white;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  text-decoration: none;
}

.add-hero {
  background-color: white;
  border-style: solid;
  border-color: #C00500;
  color: #C00500;
  text-decoration: none;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  font-family: 'Russo One', sans-serif;
}

.add-hero:hover {
  background-color: #C00500;
  border-style: solid;
  border-color: #C00500;
  color: white;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  font-family: 'Russo One', sans-serif;
}

.card-text {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// }
